html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: #373737 url("../lesson3/img/bg.png") 0 0 repeat;
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #a5a5a5;
}

.login-button {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    vertical-align: middle;
    font-size: 20px;
    color: #474747;
}

input {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text] {
    margin: 25px;
    padding: 0 10px;
    top: 12px;
    width: 25%;
    height: 40px;
    color: #bbb;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=text]:focus {
    top: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    outline: 0;
}

.mid {
    text-align: center;
}

.generated {
    text-align: center;
    margin: 20px;
}

.result{
    width: 100%;
    text-align: center;
}

.good {
    color: lightseagreen;
}

.bad {
    color: darkred;
}